<div class="loginContainer">
  <form [formGroup]="loginForm" (ngSubmit)="loginProducer($event)">
    <h1>Decorasaurus</h1>
    <mat-form-field>
      <input
        matInput
        placeholder="Email" 
        formControlName="email"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password" 
        formControlName="password"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Login</button>
    <button mat-button color="primary" (click)="registerProducer()">Register...</button>
  </form>
</div>