<app-dashboard-wrapper>
  <div class="ordersContainer">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      <mat-icon>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
    
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Shipping Column -->
      <ng-container matColumnDef="shipping">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipping </th>
        <td mat-cell *matCellDef="let element"> {{element.shipping}} </td>
      </ng-container>

      <!-- Items Column -->
      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
        <td mat-cell *matCellDef="let element"> {{element.items}} </td>
      </ng-container>

      <!-- Shipping Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'M/d/yy, H:mm'}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="router.navigateByUrl('/orders/order/' + row.id)" class="orderRow" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</app-dashboard-wrapper>